* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    font-weight:bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.columnas {
    display:flex;
    flex-direction: column;
}

.rodeado {
    height:100vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.parte-arriba {
    height:43vh;
    margin-bottom: 15px;
}

.parte-abajo {
    height:43vh;
}

.titulo {
    font-size:1.3rem;
}

/*
.imagenPf {
    height:100%;
    width:100%;
    border-radius:5px;
    cursor:pointer;
}

.pfp {
    height:250px;
    width:250px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
*/

.p1 {
    margin:2rem 0rem;
}

.divs-barras {
    border-radius:15px;
    margin:10px 0px 15px 0px;
}

.vida-total {
    height:25px;
    width: 100%;
    background-color: #575757;
    position:relative;
}

.vida-actual {
    height:25px;
    width: 5%;
    background-color: #D45A5A;
}

.vida-texto {
    position:absolute;
    left:43.5%;
    top:0px;
}

.nivel-total {
    position:relative;
    height:25px;
    width: 100%;
    background-color: #575757;
}

.nivel-actual {
    height:25px;
    width: 5%;
    background-color: #D45A5A;
}

.nivel-texto {
    position:absolute;
    left:43.5%;
    top:0px;
}

.streak {
    display:flex;
    flex-direction: column;
}

.streak-inside {
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
}

.streak-img {
    width:32px;
    height:32px;
    margin-left:10px;
}

.username {
    margin-bottom: 10px;
}

.card {
    background-color: #252525;
    width:300px;
    height:99%;
    border-radius:15px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);

}

.titulo-card {
    padding:10px 15px;
    margin-bottom:10px;
}

.hand {
    width:24px;
    height:27px;
    margin-right:10px;
}

.btn-add {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    color:white;
    text-align: center;
    font-size:22px;
    display: inline-flex;
    align-items: center;
    margin-left:15px;
}

.modal::backdrop {
    background:black;
    opacity:0.4;
}

.modal {
    position: fixed;
    top: 50%;
    left: 49.4%;
    transform: translate(-50%, -50%);
    width:18vw;
    background-color: #2C2C2C;
    color:white;
    border:none;
    border-radius:15px;
}

.title-modal {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left:8px;
}

.close {
    margin:0px 15px 0px 0px;
    border:none;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius:25%;
    padding:10px 12px;
    background-color: transparent;
    color:white;
}

.close:hover {
    cursor:pointer;
    background-color: #383838;
    transition:ease-in;
    transition-duration: 0.3s;
}

.midclass{
    display:flex;
    flex-direction:column;
    text-align: left;
    margin-left:8px;
}

.fields {
    width:13vw;
    padding:5px;
    margin:5px 0px 18px 0.7vw ;
    background:none;
    border:none;
    font-size:16px;
    border-bottom: white 1px solid ;
    color:white;
}

.titulos {
    margin:0px 0px 0px 1vw ;
    font-size:21px;
}

.save {
    background-color: #604576;
    border:none;
    border-radius:15px;
    width:5vw;
    height:4vh;
    font-size:20px;
    color:white;
    margin:3vh 0px 2.5vh 10px;
}

.save:hover {
    cursor:pointer;
    background-color: #9473b0;
    transition:ease-in;
    transition-duration: 0.3s;
}

.tasks-on{
    height:70%;
    overflow-y:scroll;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom:8px;
}

.goal-name {
    margin: 1px 10px 5px 10px;
}
.task-not-finished {
    text-decoration: 2px #f84545 line-through;
}

.task-finished {
    text-decoration: 2px #69ff6e line-through;
}

::-webkit-scrollbar {
    width: 7px;
    padding:5px;
}
::-webkit-scrollbar-track {
    background: rgb(130, 99, 167);
}

::-webkit-scrollbar-thumb {
    background: rgb(220, 192, 255);
}

.error {
    margin-bottom:20px;
    font-size:20px !important;
}

.finished-goals {
    overflow-y:scroll;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.dead {
    background-color: #604576;
    border:none;
    border-radius:15px;
    font-size:20px;
    color:white;
    margin:3vh 20px 1.7vh 10px;
    padding:10px 15px;
}

.dead:hover {
    cursor:pointer;
    background-color: #9473b0;
    transition:ease-in;
    transition-duration: 0.3s;
}

.death-error {
    font-size:18px;
    margin-right:10px;
    text-align: center;
}

.modal-death{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:30vh;
    width:18vw;
}

.accion {
    background:none;
    border:none;
    height:30px;
    width:30px;
}

.completar {
    margin-left: 10px;
}

.completar-habit {
    margin-left: 10px;
}

.borrar {
    margin-right: 13px;
}

.goals {
    display:flex;
    align-items: center;
}

.container-goals {
    display:flex;
    align-items: center;
    margin-bottom:10px;
}

.texto-goals {
    overflow-y:hidden;
    border-bottom:1px solid white;
    margin: 0px 5px;
}

.icono {
    width:30px;
    height:30px;
}

.transitionModal{
    height:30vh;
    width:18vw;
    transition: width 3s;
}

.title-error {
    margin-top:10px;
    font-size:20px;
}

.transition {
    transition: width 3s;
}

.accion:hover {
    cursor:pointer;
}

.modal-nivel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:19vh;
    width:15vw;
}

.nivel-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


















#fotoPerfil {
    display:none;
}

.perfil {
    height: 190px;
    width: 190px;
}

.imagenPerfil {
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
}

.boxFoto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-color: grey;
    height: 220px;
    width: 220px;
    border-radius: 2rem;
    box-shadow: 1px 1px 5px black;
}
